        <div class="form-grid three">
          <label id="brandField" data-field="brand">
            Brand
            <input name="brand" id="brandInput">
          </label>
          <label id="itemNameField" data-field="item_display_name">
            <span id="itemNameLabel">Sticker Name</span>
            <input name="item_display_name" id="itemNameInput">
          </label>
          <label id="articleField" data-field="article_no">
            <span id="articleLabel">Article No</span>
            <input name="article_no" id="articleInput">
          </label>
          <label id="sizeField" data-field="size">
            <span id="sizeLabel">Size</span>
            <input name="size" id="sizeInput" list="sizeOptions">
            <datalist id="sizeOptions"></datalist>
          </label>
          <label id="batchField" data-field="batch_no">
            <span id="batchLabel">Batch no</span>
            <input name="batch_no" id="batchInput">
          </label>
          <label id="expiryField" data-field="expiry">
            Expiry
            <input name="expiry" id="expiryInput" placeholder="MM/YYYY">
          </label>
        </div>
        <div class="form-grid three" id="customFieldsGrid" hidden></div>
